<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Templating in Fat-Free!</h1>
<p>My name is {{@name}}</p>
<p>My favorite game is {{@game}}</p>
<p>My favorite drink is {{@drink}}</p>
<p>My favorite food is {{@food}}</p>

<h2>A list of fruits</h2>
<repeat group="{{ @fruitList }}" value="{{ @fruit }}">
    <p>{{ @fruit }}</p>
</repeat>


<repeat group="{{ @studentList }}" key="{{ @sid }}" value="{{ @name }}">
<p>{{ @sid }} - {{ @name }}</p>
</repeat>

</body>
</html>